# .NET
[Bb]in/
[Oo]bj/
[Tt]emp/
[Tt]mp/
*.user
*.userosscache
*.sln.doccache
*.suo
*.userprefs
.vs/
.vscode/

# Node/Angular
node_modules/
dist/
.angular/
.nx/
*.log

# OS
.DS_Store
Thumbs.db

# Other
*.swp
*.bak
.env

.angular

# Generated Tailwind CSS
**/src/styles.css
postcss.config.mjs
postcss.config.js

# Storybook
storybook-static/
**/storybook-static/
*.tsbuildinfo

# Testing & Coverage
coverage/
**/TestResults/
**/coverage.json
__screenshots__/
test-results/.last-run.json
